body{
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box{
    border-radius: 25px;
    width: 400px;
    height: 400px;
    background: blue;
}

.box .box2{
    padding-top: 25px;
}

.entradas{
    border-radius: 25px;
    text-align: center;
}

.entradas input{
    height: 30px;
    border-radius: 25px;
    text-align: center;
    text-transform: capitalize;
}

.box .boton{
    text-align: center;
}

.box .boton button{
    background: yellow;
    border-radius: 25px;
    height: 40px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.box .salidas{
    border-radius: 25px;
    text-align: center;
}

.box .salidas input{
    border-radius: 25px;
    height: 30px;
    text-align: center;
}